<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Directory</title>
</head>

<body>

    <h3>Patients Directory</h3>
    <hr>

    <table border="1">
        <thead>
        <tr>
            <th>NickName</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempPatient : ${patients}">

            <td th:text="${tempPatient.nickname}"/>

        </tr>
        </tbody>
    </table>

</body>
</html>