<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Patient Directory</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Patient details</h3>
    <hr>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>NickName</th>
            <th>Id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempPatient : ${patient}">
            <td th:text="${tempPatient.nickname}"/>
            <td th:text="${tempPatient.id}"/>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/patients}">
        <button class="btn btn-info col-3">Back to Patient list</button>
    </a>
</div>
</body>
</html>